/* Centers all headings on the page */
.body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2C3E50;
}
h2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2C3E50;
}
ul{
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray;
}

.nav-box {
    border: 2px solid black;
    padding: 20px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%; 
    background-color: white;
}

.nav-box a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-box a:hover {
    text-decoration: underline;
}


.centered-image {
    display: block;
    margin: 20px auto;
    max-width: 100%; 
    height: auto;
}


.lore-content p:first-of-type {
    color: #555555; 
    font-family: 'Arial', sans-serif; 
}

/* Style for all other body paragraphs */
p {
    font-family: 'Verdana', sans-serif; 
    color: #333333; 
}


section h2 {
    font-family: 'Georgia', serif; 
    color: #2C3E50; 
}


body {
    font-family: 'Verdana', sans-serif; 
}